<p>cust-ticket-detail works!</p>
<div>Assigned To: {{ticket.assignedTo?ticket.assignedTo.username:""}}</div>
<div>Ticket Status: {{ticket.status}}</div>
<div>Ticket issue Type: {{ticket.issueType}}</div>
<div>Customer Name: {{ticket.name}}</div>
<div>Address where field worker needs to arrive(if needed): {{ticket.address}}{{ticket.pincode}}</div>
<div>Account Name: {{ticket.createdBy?ticket.createdBy.username:""}}</div>
<div>Complaint Date: {{ticket.raiseDate}}</div>
<div>Contact Number: {{ticket.contact}}</div>
<div>Close Date: {{ticket.closeDate}}</div>
<div *ngIf="ticket.status=='resolved'"> Your Feedback:
    <div *ngIf="isFeedbackSet">
        <form (ngSubmit)="onSubmit()" ngNativeValidate>
            <textarea name="JSON" [ariaValueMax]="50" cols="50" rows="5" [(ngModel)]="ticket.feedback"></textarea>
            <hr>
            <input class="btn btn-primary btn-lg" type="Submit">
            <input class="btn btn-primary btn-lg" type="Reset">
        </form>
    </div>
    <div  *ngIf="!isFeedbackSet">{{ticket.feedback}}</div>
</div>