<p>cust-tickets works!</p>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Issue Type</th>
            <th>Date of Complaint</th>
                       
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of displayedTicketList; let i = index;">
           
            <td>{{item.name}} </td> 
            <td>{{item.issueType}} </td> 
            <td>{{item.raiseDate}} </td> 
            <td><button class="btn btn-danger btn-lg" [routerLink]="['/customer/tickets',item.id]"> View Ticket Details</button></td>
            <td><button class="btn btn-danger btn-lg" (click)="deleteTicket(item.id)">Delete Ticket</button></td>
            </tr>
    </tbody>
</table>