<p>manager-ticket-detail works!</p>
<form (ngSubmit)="onSubmit()" ngNativeValidate>
    <div>Assigned To:
        <select *ngIf="ticket.pincode==pincode" [(ngModel)]="ticket.assignedTo.id" name="assignedTo" required>
            <option *ngFor="let item of displayedUserList; let i = index;" [ngValue]="item.id">{{item.username}}
            </option>
        </select>
        <span *ngIf="ticket.pincode!=pincode" >
            {{ticket.assignedTo?ticket.assignedTo.username:""}}
        </span>
    </div>
    <div>Ticket Status: {{ticket.status}}</div>
    <div>Ticket issue Type: {{ticket.issueType}}</div>
    <div>Customer Name: {{ticket.name}}</div>
    <div>Address where field worker needs to arrive(if needed): {{ticket.address}}{{ticket.pincode}}</div>
    <div>Account Name: {{ticket.createdBy?ticket.createdBy.username:""}}</div>
    <div>Complaint Date: {{ticket.raiseDate}}</div>
    <div>Contact Number: {{ticket.contact}}</div>
    <div> Customer Feedback: {{ticket.feedback}}</div>
    <div *ngIf="ticket.pincode==pincode">
        <input class="btn btn-success btn-lg" type="Submit">
        <input class="btn btn-primary btn-lg" type="reset">
    </div>
</form>